@font-face {
    font-family: "Courgette";
    src: url("fonts/Courgette-Regular.ttf");
}

@font-face {
    font-family: "Heebo";
    src: url("fonts/Heebo-VariableFont_wght.ttf");
}

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
}


body {
    height: 100vh;
    width: 100vw;
    background-image: url("../../images/Background Image main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}


.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 15px;
}

.logo_worldwide_img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.logo_Worldwide_text {
    font-family: 'Heebo', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

.container {
    position: relative;
    width: 90%;
    height: 80%;
    box-shadow: 5px 5px 18px -5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 18px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 18px -5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../images/Background Image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(0.9);
    border-radius: 20px;
    z-index: -1;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    color: #fff;
    text-transform: capitalize;
    text-shadow: -2px -2px 25px rgba(255, 255, 255, 0.267);
}

.heading {
    font-family: 'Courgette', cursive;
    font-size: 5.5rem;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 700;
}

.date {
    font-size: 3rem;
    font-size: 'Heebo', sans-serif;
    padding: 10px 0;
    font-weight: 700;
}

.png_logo {
    width: 180px;
    position: absolute;
    top: 50px;
    filter: opacity(0.5);
    z-index: -1;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}

#countdown div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 60px;
    font-size: 12rem;
    font-weight: 600;
    color: #fff;
    text-shadow: -3px -15px 45px rgba(255, 255, 255, 0.719);
    font-variant: tabular-nums;
}

#countdown>div::before {
    content: "";
    position: absolute;
    bottom: 10px;
    font-size: 1.5rem;
    letter-spacing: 3px;
    line-height: 35px;
    text-transform: uppercase;
}

#countdown .days::before {
    content: "days";
}

#countdown .hours::before {
    content: "hours";
}

#countdown .minutes::before {
    content: "minutes";
}

#countdown .seconds::before {
    content: "seconds";
}

.declaration {
    font-family: 'Courgette', cursive;
    font-size: 6.3rem;
    font-weight: 700;
    padding: 0 3px 10px 3px;
}


@media (min-width: 1680px) and (max-width: 1979px) {
    html {
        font-size: 12px;
    }
}

@media (width < 1824px) {

    #countdown div {
        margin: 0 50px;
    }

    .png_logo {
        top: 60px;
        width: 150px;
    }

    #countdown div::before {
        font-size: 1.55rem;
    }
}

@media (min-width: 1440px) and (max-width: 1679px) {
    html {
        font-size: 11px;
    }
}

@media (width < 1580px) {

    #countdown div {
        margin: 0 40px;
    }

    .png_logo {
        top: 70px;
        width: 130px;
    }

    #countdown div::before {
        font-size: 1.6rem;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    html {
        font-size: 10px;
    }

    #countdown div::before {
        bottom: 0px;
    }
}


@media (width < 1366px) {

    #countdown div {
        margin: 0 35px;
    }

    .png_logo {
        width: 120px;
    }

    #countdown div::before {
        font-size: 1.6rem;
        bottom: 0px;
    }

}

@media (min-width: 1024px) and (max-width: 1279px) {
    html {
        font-size: 9px;
    }

    .logo_worldwide_img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }
}


@media (width < 1180px) {

    #countdown div {
        margin: 0 30px;
    }

    .png_logo {
        width: 115px;
    }

    #countdown div::before {
        font-size: 1.65rem;
        bottom: -5px;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 6.5px;
    }

    #countdown div::before {
        bottom: -10px;
    }

    .png_logo {
        top: 50px;
    }
}


@media (width < 860px) {

    #countdown div {
        margin: 0 25px;
    }

    .png_logo {
        width: 100px;
    }
}


@media (width < 768px) {

    html {
        font-size: 3.5px;
    }

    #countdown div {
        margin: 0 15px;
        font-size: 16rem;
    }

    .date {
        font-size: 4.5rem;
    }

    #countdown div::before {
        bottom: -15px;
        font-size: 2.5rem;
    }

    .png_logo {
        top: 55px;
    }

    .logo_worldwide_img {
        width: 35px;
        height: 35px;
        margin-right: 12px;
    }
}

@media (min-width: 414px) and (max-width: 767px) {

    .heading,
    .date,
    #countdown,
    .declaration {
        margin: 20px 0;
    }
}

@media (min-width: 375px) and (max-width: 413px) {

    html {
        font-size: 3px;
    }

    .heading,
    .date,
    #countdown,
    .declaration {
        margin: 20px 0;
    }

    .png_logo {
        top: 52px;
        width: 90px;
    }

}

@media (min-width: 320px) and (max-width: 374px) {

    html {
        font-size: 2.5px;
    }

    .heading,
    .date,
    #countdown,
    .declaration {
        margin: 10px 0;
    }

    .png_logo {
        top: 48px;
        width: 80px;
    }
}

@media (min-width: 280px) and (max-width: 319px) {

    html {
        font-size: 2.3px;
    }

    .heading,
    .date,
    #countdown,
    .declaration {
        margin: 10px 0;
    }

    #countdown div {
        margin: 0 10px;
    }

    .png_logo {
        top: 48px;
        width: 80px;
    }
}

@media (height < 700px) {

    #countdown {
        margin: 20px 0;
    }

    .heading {
        padding-top: 10px;
    }

    .date {
        padding: 0;
    }

    .png_logo {
        top: 10px;
        width: 50px;
    }
}

@media (max-height: 1024px) {
    #countdown {
        margin: 20px 0;
    }
}
